
<h1>Menu</h1>

<table>
  <thead>
    <tr>
      <th>※以下に設定画面への遷移とマニュアル画面への遷移のリンク</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%#= link_to 'manual', manual %></td>
        <td><%#= link_to 'Edit', edit_card_path(card) %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'manual', new_card_path %>

﻿<h1>Dominion</h1>


<%= link_to 'ゲームを開始する', :controller => "config", :action => "index" %><br>
<br>
<%= link_to 'カード一覧', :controller => "cards", :action => "index" %><br>
