<p id="notice"><%= notice %></p>

<p>
  <strong>目的:</strong>
</p>

<p>
  <strong>はじめ方:</strong>
</p>

<p>
  <strong>画面:</strong>
</p>

<p>
  <strong>開始:</strong>
</p>

<p>
  <strong>進行:</strong>
</p>

<p>
  <strong>終了:</strong>
※後でタブ分け？
</p>

<%#= link_to 'Edit', edit_card_path(@card) %> |
<%#= link_to 'Back', cards_path %>
