<!-- (1) -->
<div id="result">
</div>
 
<%= javascript_tag do %>
    function aaa() {
        <!-- (2) -->
        var eventSource = new EventSource("/stream");
 
        <!-- (3) -->
        eventSource.addEventListener("message", function(event) {
            $("#result").text(event.data);
        });
        eventSource.addEventListener("done", function(event) {
            this.close();
            $("#result").text(event.data);
        });
    };
<% end %>

<h1>play</h1>
<hr><br>
<table>
<tr>
<td>銅貨</td><td>銀貨</td><td>金貨</td><td>屋敷</td><td>公領</td><td>属州</td><td>呪い</td>
</tr>
<tr>
<td>０１</td><td>０２</td><td>０３</td><td>０４</td><td>０５</td>
</tr>
<tr>
<td>０６</td><td>０７</td><td>０８</td><td>０９</td><td>１０</td>
</tr>
</table>
<br><br><br><br><br>
<br><br><br><br><br>
<%= button_tag "Start",   :onclick => "aaa();" %>

your hands  action: x  buy: x  coin: x
<table>
<tr>
<td>Ｈ１</td>
<td>Ｈ２</td>
<td>Ｈ３</td>
<td>Ｈ４</td>
<td>Ｈ５</td>
</tr>
</table>

